*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #eeb600;
}

.container{
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    width: 20rem;
    max-height: 45rem;
    text-align: center;
    
    
}

.amount{
    margin: 2rem 0 2rem 0;
}
.from {
    margin: 0.5rem 0 2rem 0;
}
.to {
    margin: 0.5rem 0 2rem 0;
}

.from select, .to select, button, input {
    width : 100%;
    border : none;
    outline: none;
    border-radius: 0.75rem;
}

form input{
    border: 1px solid lightgrey;
    font-size: 1rem;
    height: 2rem;
    padding-left: 0.5rem;
}
 
.dropdown {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.5rem;
}

.dropdown i {
    font-size: 1.5rem;
    
}
.select-container img {
    max-width:  2rem;
    padding: 0.25rem;
}

.select-container {
    display: flex;
    justify-content: center;
    width: 6rem;
   
    border: 1px solid lightgrey;
    align-items: center;
    border-radius: 0.5rem;
}

.select-container select {
   
    font-size: 1rem;
    width: auto;
    
}
.msg {
    margin: 1rem 0 2rem 0;
}

form button {
    height: 3rem;
    background-color: #ff3700;
    color : #fff;
    font-size: 1rem;
    cursor: pointer;
}